# ignore data folders
/bot_playtest
/dataset_dm_expert_dust2
/dataset_metadata
/hdfs
/location_trackings_backup
/models
/my_dataset_metadata
/my_models
/playtest
/stats
/data

# ignore large files
TeamViewer_Setup_x64.exe